.divPadre{  /*padre*/
	width: 100%;
	height: 100%;
}
#imagenLogo{
	width: 300px;
	text-align: center;
	margin-top: 300px;
}
#login{
	margin-top: 200px;
}

.contenido{
	font-family: Calibri;
	font-size:  18px;
	background:  #3CD4FA;
	height: 40em;
	border-radius: 30px 50px;
	color: #000000;
	display: table-cell;
	width: 600px;
    padding: 5px 0;
    margin: 0;
}
.contenido2{
	font-family: Calibri;
	font-size:  18px;
	background:  #000000;
	height: 40em;
	border-radius: 30px 50px;
	color: #FFFFFF;
	display: table-cell;
	width: 600px;
    padding: 5px 0;
    margin: 0;
}