.divPadre{  /*padre*/
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 0 1rem;
	margin: 1rem;
	height: -webkit-fill-available;
	font-family: Calibri;
	font-size:  20px;
}
#imagenLogo{
	width: 300px;
	text-align: center;
	margin-top: 150px;
}
#login{
	margin-top: 200px;
}

.contenido{
	background-color: #E3E3E3;
	font-family: Calibri;
	font-size:  16px;
	/* IMPORTANTE */
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.contenido2{
	background-color: #E3E3E3;
	font-family: Calibri;
	font-size:  16px;
	/* IMPORTANTE */
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.botonMenu{
	width: 60px;
}

.ui-popup-container,
.ui-popup{
	height: auto;
	width: 100%;
	position: absolute;;
	top: 50px !important;
	left: 0;
}

.ui-popup-screen.in{
	background: black;
	opacity: 0.6 !important;
}

#popupfoto img{
	width: 100%;
}

.mi_tabla {
	caption-side: top;
	width: 100%;
	max-width: 100%;
}

.encabezado_tabla{
	font-size: 18px;
	color: #FFFFFF;
	background: #000000;
	font-family: Calibri;
	border-bottom: 1px solid #999;
	text-align: center;
}

.cuerpo_tabla{
	font-size: 14px;
	color: #000000;
	font-family: Calibri;
	background: #FFFFFF;
	border-bottom: 1px solid #999;
	height: 35px;
	text-align: center;
}

.resultadoRestaurantes {
    overflow: hidden;
    width: 100%;
}

.A{
    float: left;
}

.B {
    float: left;
	text-align: center;
}

.map-canvas{
	width: 100%;
	height: 300px;
	background-color: grey;
}
.img_logo{
	width: 100px;
}
