#imagenLogo{
	width: 400px;
	text-align: center;
	margin-top: 300px;
}
#login{
	margin-top: 200px;
}
#contenido{
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	font-family: Calibri;
	font-size:  15px;
	background:  #E7FCFF;
	width: 80%;
	height: 20em;
	border-radius: 30px 50px;
}